---

---

<div class="flex flex-col bg-dark py-4">
  <p class="text-center text-dark-text text-sm py-1 font-light">
    © 2024
    <a href="/" class="text-dark-text text-sm font-normal">GameVicio</a>. Todos
    os direitos reservados
  </p>
  <p class="text-center text-dark-text text-sm py-1">
    <a href="/privacidade" class="text-dark-text text-sm font-normal"
      >Privacidade</a
    > |
    <a href="/termos" class="text-dark-text text-sm font-normal"
      >Termos de Uso</a
    > |
    <a href="/abuso" class="text-dark-text text-sm font-normal">Abuso</a> |
    <a href="/contato" class="text-dark-text text-sm font-normal">Contato</a>
  </p>
  <p class="text-center text-dark-text text-sm py-1">
    <a href="/sobre-nos" class="text-dark-text text-sm font-normal"
      >Sobre a GameVicio</a
    > |
    <a href="/regras-gerais" class="text-dark-text text-sm font-normal"
      >Regras</a
    > |
    <a href="/equipe" class="text-dark-text text-sm font-normal">Equipe</a> |
    <a href="/compartilhe" class="text-dark-text text-sm font-normal"
      >Envie seu Conteúdo</a
    >
  </p>
</div>
