<h3>1. Inserir uma lista como a seguinte:</h3>
<p>Pais</p>
<ul>
  <li>João Silva</li>
  <li>Maria Silva</li>
</ul>
<p>Irmãos</p>
<ul>
  <li>João Silva Jr.</li>
  <li>Maria Aparecida Silva</li>
  <li>José Silva</li>
</ul>
<p>Primos</p>
<ul style="list-style-type: none;">
  <li>Nenhum</li>
</ul>
<p>Cores Favoritas</p>
<ol>
  <li>Preto</li>
  <li>Branco</li>
  <li>Cinza</li>
</ol>
