---
import ItemUm from "@components/exercicio-2/ItemUm.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Exercício 2">
  <main class="index">
    <ItemUm />
  </main>
</Layout>
