---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Aula 2">
  <main>
    <h1>Aula 2</h1>
    <a href="/exercicio-1">Exercício 1</a>
    <a href="/exercicio-2">Exercício 2</a>
  </main>
</Layout>

<style></style>
