---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Aula 2">
  <main class="index">
    <h1>Aula 2</h1>
    <ul class="beautiful-list">
      <li>
        <a href="/exercicio-1"> Exercício 1 </a>
      </li>
      <li>
        <a href="/exercicio-2"> Exercício 2 </a>
      </li>
    </ul>
  </main>
</Layout>

<style></style>
