---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Aula 2">
  <main>
    <h1 style="text-align: center;">Aula 2</h1>
    <ul style="list-style-type: symbols();">
      <li>
        <a href="/exercicio-1"> Exercício 1 </a>
      </li>
      <li>
        <a href="/exercicio-2"> Exercício 2 </a>
      </li>
    </ul>
  </main>
</Layout>

<style></style>
