---
import Highlights from "@components/home/highlight/Highlights.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="h-[1500px] p-2">
    <Highlights />
  </main>
</Layout>
