---
import Tag from '@components/Tag.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="h-[1500px] p-2">
		<Tag>
			Games
		</Tag>
	</main>
</Layout>
