---
type Props = astroHTML.JSX.DefinedIntrinsicElements["blockquote"];
---

<div class="flex">
  <blockquote
    class:list={[
      "container",
      "bg-gray-200",
      "shadow-md",
      "rounded-md",
      "relative",
      "py-4",
      "px-6",
      ...(Astro.props.class?.split(" ") ?? []),
    ]}
  >
    <p class="italic">
      <slot />
    </p>
    <div
      class="absolute top-2 -left-4 bg-red-600 h-8 w-8 rounded-md justify-center place-items-center flex"
    >
      <!-- citation svg icon -->
      <svg class="fill-white h-4" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
        >
        </path>
      </svg>
    </div>
  </blockquote>
</div>
