<div
  class="bg-black opacity-80
  border-l-red-600
  border-l-4
  text-dark-text
  p-2
  place-items-center
  w-fit
  uppercase
  text-xs
  transition-all
  duration-300
  group-hover:bg-red-600
  hover:bg-red-600
  group-hover:opacity-100
  hover:opacity-100
  rounded-md
  group-hover:rounded-lg
  hover:rounded-lg
  group-hover:border-l-0
  hover:border-l-0
  shadow-md
  shadow-dark
  select-none
  font-bold"
>
  <slot />
</div>
