---
interface Props {
  justifyContent:
    | "flex-start"
    | "flex-end"
    | "center"
    | "space-between"
    | "space-around"
    | "space-evenly";
  alignItems: "flex-start" | "flex-end" | "center" | "baseline" | "stretch";
  gap: string;
  wrap: "nowrap" | "wrap" | "wrap-reverse";
}

const {
  justifyContent = "flex-start",
  alignItems = "center",
  gap = "0",
  wrap = "nowrap",
} = Astro.props;
---

<div
  style={`display: flex; flex-direction: row; justify-content: ${justifyContent}; align-items: ${alignItems}; gap: ${gap}; flex-wrap: ${wrap};`}
>
  <slot />
</div>
