<div
  class="bg-dark opacity-80
  border-red-700
  border-l-4
  text-dark-text
  p-2
  place-items-center
  w-fit
  uppercase
  text-xs
  transition-all
  duration-300
  hover:bg-red-700
  font-bold"
>
  <slot />
</div>
